@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Nunito:wght@600;700;800&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
/* css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lexend Deca' ;
}
a{ 
    text-decoration:none ;
    color: inherit
}
/* Embrulho/Wrapper + flex-box */
.wrapper{
    width: 90%;
    /* largura */
    max-width: 1240px;
    /* largura maxima */
    margin: 0 auto;
    /* centralizar */
}
.flex{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: whitesmoke;
}

#header {
    padding: 25px;
    background-color: rgb(0, 0, 0);  
  }

  #icon_head {
    margin-right: 18px;
    color:white;
    font-size: 25px;
}

#logo{
font-size: 25px;
font-family: 'Lexend Deca';
color: #fff;

}

#logo_img{
width: 600px;
margin: 110px 00px; 
}

#secao_inicial{
    padding: 15px;
    background-color: #000000;
    background-image: url(img/bg.svg) ;
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;

}

#secao_artigos {
    padding: 50px 0;
}

#links_secoes{
    /* background-color: aqua; */
    padding: 10px 10px;    
    font-size: 16px;
    font-family: 'Lexend Deca';
    color: white;     
       
}

#links_secoes > a {
    margin:0px 15px    
}

#links_secoes > a:hover {
    text-decoration: underline;
}


#conteudo_principal>h1{
    
    font-family: 'Courier Prime', monospace;
    font-weight: 800;
    margin-top: 150px;
    font-size: 74px;
    color: rgb(255, 255, 255);
}
#conteudo_principal>h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca {
    0%,100% {opacity: 1;}
    50%{opacity: 0;}
}

#conteudo_principal>P{
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
    color: white;
    margin-top: 20px;
    margin-bottom: 55px;
    width: 60%;
}
#conteudo_principal>a{
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    padding: 12px 35px;

    
}
#conteudo_principal>a:hover{
    opacity:70% ;
}




#bloco{
    background-color: black;
    width: 75%;
    height: 500px;
    display: flex ;
    justify-content:space-between;
  
}
#b_esq{
    background-color: #23272A;
    width: 10%;
    height: 100%;
    border-style: solid;

    
}
#b_dir{
    background-color: #23272A;
    width: 15%;
    height: 100%;
    border-style: solid;
}
#b_centro{
    background-color: #2C2F33;
    width: 100%;
    height: 90%;
    border-top-style: solid;

}
#b_baixo{
    background-color: #000000;
    width: 100%;
    height: 20%;
    border-bottom-style: solid;
    border-top-style: solid;

}
#coluna_meio{
    display:flex ;
    flex-direction:column;
    width:75%;
    height: 100%;
   
}
.b_chat{
    background-color: #fff;
    width:80%;
    height: 10%;
    margin-top: 50px;
    margin-left: 70px;
    border-radius: 18px;
}
.flex_b{
    display: flex;
    flex-direction: column;
}
.btnmenu{
   
    padding: 10px 15px;
    margin: 15px;
    font-size: 18px;
    font-family: 'Nunito';
    color: #000000;
    font-weight: bold;
    border-radius: 10px;
}
.btnmenu:hover{
    background-color: #c51be3;
    opacity: 90%;
    cursor: pointer;
}
/* Seção 2  */

.explicacao {
    margin-right: 10px;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 50px 0px;
    margin-bottom: 50px;
}
.explicacao > p {
font-family: 'Nunito';
padding: 0px 85px;
text-align: center;
margin: 15px 0px;
}

.explicacao > h2 {
    font-family: 'Nunito';
    font-size: 40px;
}
#theme_btn{
    text-align: center;
}
.btncolor{
    padding: 10px 15px;
    margin: 15px;
    font-size: 18px;
    font-family: 'Nunito';
    color: #000000;
    font-weight: bold;
    border-radius: 10px;
}
.btncolor:hover{
    background-color: #c51be3;
    opacity: 90%;
    cursor: pointer;
}

footer {
    background-color:#2C2F33;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-weight: 600;
    font-family: 'Nunito';
}
